<%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/productCart_detalle.css">
    </head>

    <body>
        <%- include('../partials/header.ejs',{carrito})%>

            <main class="cart-panel">
                <div class="cart-body">
                    <form action="/" method="get" class="cart-form borde-derecho">
                        <div class="titulos">
                            <h5>PRODUCTO</h5>
                            <h5>CANTIDAD</h5>
                        </div>
                        <% carrito.forEach(item=> { %>
                            <div class="cart-body1">
                                <div class="cart-items">
                                    <div class="cart-item">
                                        <div class="cart-item-delete">
                                            <button type="button">
                                                <i class="fa fa-close"></i>
                                            </button>
                                        </div>
                                        <div class="cart-item-imagen">
                                            <img src="/img/products/<%= item.cafe.imagen_principal %>">
                                        </div>
                                        <div class="cart-item-detalle">
                                            <h6 class="cart-item-name">
                                                <%= item.cafe.nombre_producto %>
                                            </h6>


                                            <p class="cart-item-descripcion">
                                                ELEGÍ TU MOLIENDA:
                                                <%= item.cafe.tipocafe.nombre_cafe %>
                                            </p>
                                            <p class="cart-item-descripcion">
                                                ELEGÍ EL PESO:
                                                <%= item.cafe.unidad_de_medida.nombre_medida %>
                                            </p>
                                            <p>Precio Unitario: <b>$<%= item.cafe.precio %></b></p>
                                        </div>

                                        <div class="container-group-1">
                                            <button type="button" class="btn-restar">-</button>
                                            <input type="number" min="1" value="<%= item.cafe.cantidad_seleccionada%>" data-precio="<%= item.cafe.precio %>" data-id="<%= item.cafe.id_producto %>" class="cantidad">
                                            <button type="button" class="btn-sumar">+</button>
                                        </div>
                                    </div>
                                    <div class="cart-item-subtotal">
                                        <p>Subtotal: <span class="subtotal-info">$<%= (item.cafe.precio * item.cafe.cantidad_seleccionada).toFixed(2) %></span></p>
                                    </div>
                                </div>
                                 
                            </div>
                         <%})%>
                        <div class="botones">
                            <a href="/" class="btn"><i class="fa fa-arrow-left"></i> SEGUIR COMPRANDO</a>
                          
                        </div>
                           
                        
                    </form>

                    <form action="/products/checkout" method="get" class="cart-form">
                        <div class="finalizar_compra">
                            <div class="cart-total titulos">
                                <h5>TOTAL DEL CARRITO: </h5>
                            </div>
                            <div class="subtotal">
                                <p>Subtotal </p><b>$<span style="margin-left: 5px;" class="subtotal-value">0</span></b>

                            </div>

                            <label>Envio</label>
                            <div class="envio">
                                <input type="radio" value="6500" name="envio" checked="checked">
                                <label for="">Envío a domicilio (todo el país): $6,500.00</label>
                            </div>
                            <div class="envio">
                                <input type="radio" value="0" name="envio">
                                <label for="">Retiro por Local (Gratis)</label>
                            </div>

                            <div class="total">
                                <p>Total $ <b><span class="total-value">0</span></b></p>
                            </div>
                                <input type="submit" class="btn-fin" value="FINALIZAR LA COMPRA" name="fin_compra">
                        </div>
                    </form>
                </div>
               
            </main>

            <%- include('../partials/footer.ejs') %>
            <script src="/js/coffecode.js"></script>
            <script>
                document.addEventListener('DOMContentLoaded', function() {
                    actualizarTotalesDeCompra();
                   
                    function updateQuantity(button, esVerdadero) {
                        const input = button.parentElement.querySelector('.cantidad');
                        let valorActual = parseInt(input.value);
                        const precio = parseFloat(input.dataset.precio); // Capturamos el valor del precio del data-precio
                        const subtotal = button.closest('.cart-items').querySelector('.subtotal-info');
                    
                        // Calcula la nueva cantidad
                        if (esVerdadero) {
                            valorActual += 1;
                        } else {
                            valorActual = valorActual > 1 ? valorActual - 1 : 1; // Mínimo de 1
                            
                        }
                    
                        input.value = valorActual; // Actualiza el valor del input
                        if (subtotal) {
                            subtotal.textContent = `$${(valorActual * precio).toFixed(2)}`;
                        }
                        actualizarTotalesDeCompra();
                    }
                    
                    function actualizarTotalesDeCompra() {
                        // Calcula el subtotal de todos los subtotales de las cart
                        const subtotalInfo = document.querySelectorAll('.subtotal-info');
                        let subtotales = 0;

                        //mientras recorremos sacamos los simbolos de $, y . para poder calcular bien los valores 
                        subtotalInfo.forEach(subtotal => {
                            const subtotalParcial = parseFloat(subtotal.textContent.replace('$', '').replace(',', ''));
                            subtotales += isNaN(subtotalParcial) ? 0 : subtotalParcial;
                        });

                        // Actualiza el elemento del subtotal
                        const subtotalElemento = document.querySelector('.subtotal-value');
                        if (subtotalElemento) {
                            subtotalElemento.textContent = `${subtotales.toFixed(2)}`;
                        }

                        // Agrega el costo de envío si hay uno seleccionado
                        let totalValue = subtotales; // Comienza con el valor del subtotal
                        const selectedEnvio = document.querySelector('input[name="envio"]:checked');
                        if (selectedEnvio) {
                            const envioCost = parseFloat(selectedEnvio.value); 
                            totalValue += isNaN(envioCost) ? 0 : envioCost;
                        }

                        // Actualiza el elemento del total
                        const totalElement = document.querySelector('.total-value');
                        if (totalElement) {
                            totalElement.textContent = `$${totalValue.toFixed(2)}`;
                        }
                    }
                    // Agregar eventos a los botones de sumar y restar
                    const sumarButtons = document.querySelectorAll('.btn-sumar');
                    const restarButtons = document.querySelectorAll('.btn-restar');
                    
                    sumarButtons.forEach(button => {
                        button.addEventListener('click', function() {
                            updateQuantity(button, true);
                        });
                    });
                    
                    restarButtons.forEach(button => {
                        button.addEventListener('click', function() {
                            updateQuantity(button, false);
                        });
                    });

                    const envioRadios = document.querySelectorAll('input[name="envio"]');
                    envioRadios.forEach(radio => {
                        radio.addEventListener('change', actualizarTotalesDeCompra);
                    });
                });
                
            </script>
            
            
    </body>
</html>