<%- include('../partials/head.ejs') %>
<link rel="stylesheet" href="/css/index.css">
<style>
    body{
    font-family: "Zain", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
    
    }
    .logo-not-found{
        width: 50%;
        background-color: rgba(255, 255, 2555, 0.2);
    }
    .contenedor-productos{
        padding: 3rem;
    }
</style>
</head>
<body>
    <main>
    <%- include('../partials/header.ejs',{carrito})%>
    <h2>Resultados de búsqueda para "<%= key %>"</h2>
<div class="contenedor-productos">
    <% if (productos.length > 0) { %>
        <% productos.forEach(cafe => { %>
            <!-- Muestra tus productos como lo haces normalmente -->
            <article class="producto">
                <img src="/img/products/<%= cafe.imagen_principal %>" alt="Producto">
                <h3><%= cafe.nombre_producto %></h3>
                <p><%= cafe.descripcion_corta %></p>
                <a href="/products/detail/<%= cafe.id_producto %>">
                    <button>VER MÁS</button>
                </a>
            </article>
        <% }) %>
    <% } else { %>
        <img src="/img/product-not-found.png" class="logo-not-found">
    <% } %>
</div>
    </main>
<%- include('../partials/footer.ejs') %>
<script src="/js/coffecode.js"></script>
</body>
</html>