<%- include('./partials/head.ejs') %>
<link rel="stylesheet" href="/css/index.css">
    
</head>
<body>
    <%- include('./partials/header.ejs')%>
    <main>
    <div class="contenedor-principal">
        <section class="banner">
            <img src="/img/banner.png" alt="Banner">
        </section>       
        <section class="articulo" id="productos">
            <article>
                <div class="texto-articulo">
                    <h2>Café de especialidad</h2>
                    <p>En <strong>CofeeCode</strong> contamos con una amplia variedad de Cafés, sujeto a disponibilidad por estaciones y países. Nuestros granos son sometidos a un riguroso proceso de tueste en nuestra maquina Loring. Las tres características de nuestro café son:
                    </p>
                    <ol class="lista-articulo">
                    <li> Nuestro café siempre te llega fresco.</li> 
                    <li> Usamos mejores granos (Solo café de especialidad, aún si nos impide tener cafés mas competitivos).</li>
                    <li> Tostado más claro, con mas sabor y menos amargor. Descubrí las variedades de café en granos y molido que tenemos disponible para vos. <strong> Comprá online</strong> desde tu casa.
                        </li>
                    </ol>
                </div>
                <div class="imagen-articulo">
                    <img src="/img/cafe1.jpg" alt="Artículo">
                </div>
            </article>
        </section>
     
            <div class="contenedor-productos">
                <% listaProductos.forEach(cafe => { %>
                  
                    <article class="producto" style="position: relative;">
                        <a  href="/admin/edit/<%= cafe.id %>" style="position: absolute; right: 33px; color: rgb(119, 161, 106);"> 
                            <% if(user.categoria==="ADMINISTRADOR"){%>
                                <i class="fas fa-edit">edit</i>
                            <% } %>   
                        </a>
                        <img src="<%= cafe.imagen %>" alt="Producto 1">
                        <h3><%= cafe.nombre %></h3>
                        <p><%= cafe.descripcion %></p>
                        <a href="/products/detail/<%= cafe.id %>">
                            <button>Ver Más</button>
                        </a>
                    </article>
                <% }) %>
                
            </div>
       
    </main>
   <%- include('./partials/footer.ejs') %>
</body>
</html>