<%- include('./partials/head.ejs') %>
<link rel="stylesheet" href="/css/index.css">
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Slick Carousel CSS -->
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"/>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"/>
<!-- Slick Carousel JS -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
<!-- Estilos personalizados -->


<body>
    <%- include('./partials/header.ejs',{carrito})%>
    <main>
    <div class="contenedor-principal">
          <div class="slider">
                <div>
                    <img src="/img/banner.png" alt="Banner">
                </div>
                <a href="/info"><div>
                    <img src="/img/banner2.png"  alt="Banner 2"> 
                </div> </a>
                <div>
                    <img src="/img/banner3.png" alt="Banner 3">
                </div>
        </div>
        <script type="text/javascript">
            $(document).ready(function(){
                $('.slider').slick({
                    slidesToShow: 1,
                    slidesToScroll: 1,
                    autoplay: true,
                    autoplaySpeed: 2500,
                    arrows: true,
                    dots: true,
                    infinite: true
                });
            });
        </script>      
     <section class="articulo" id="productos">
        <article>
            <div class="texto-articulo">
                <h2>¿QUE ES EL CAFÉ DE ESPECIALIDAD?</h2>
                <p class="descripcion">En <strong>CofeeCode</strong> contamos con una amplia variedad de Cafés, sujeto a disponibilidad por estaciones y países. Nuestros granos son sometidos a un riguroso proceso de tueste en nuestra maquina Loring. Las tres características de nuestro café son:</p>
                <br/>
                <ol class="lista-articulo">
                    <li> Nuestro café siempre te llega fresco.</li>
                    <li> Usamos mejores granos (Solo café de especialidad, aún si nos impide tener cafés más competitivos).</li>
                    <li> Tostado más claro, con más sabor y menos amargo. Descubrí las variedades de café en granos y molido que tenemos disponible para vos. <strong> Comprá online</strong> desde tu casa.</li>
                </ol>
                              
                
                <div class="contenedor_boton">
                    <button class="video_cafe" onclick="mostrarVideo()">MÁS INFO</button>
                </div>
            </div>
            
            <div class="video-articulo">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/i6n5AVIV8j8" title="Café de especialidad" frameborder="0" allowfullscreen></iframe>
            </div>
        </article>
    </section>
    
            <div class="contenedor-productos">
                <% listaProductos.forEach(cafe => { %>
                  
                    <article class="producto" style="position: relative;">
                        <% if(user && user.id_rol===1){%>    
                            <div class="iconos">
                                <form action="/admin/edit/<%= cafe.id_producto %>" class="icono-editar" title="Editar" method="GET" style="display: inline;">
                                    <button type="submit" name="editar" style="background: none; border: none; cursor: pointer; color: green;" title="Editar">
                                        <i class="fas fa-edit"></i>
                                    </button>
                                </form>
                                <form action="/admin/delete2/<%= cafe.id_producto %>?_method=DELETE" method="post" class="icono-eliminar" title="Eliminar" id="delete-form-<%= cafe.id_producto %>">
                                    <button type="button" onclick="confirmDelete('<%= cafe.id_producto %>');" style="background: none; border: none; cursor: pointer; color: red;">
                                        <i class="fas fa-trash" style="color: red;"></i>
                                    </button>
                                </form>
                    
                    </div>
                        <% } %> 
                        <img src="/img/products/<%= cafe.imagen_principal %>" alt="Producto 1">
                        <h3><%= cafe.nombre_producto %></h3>
                        <p><%= cafe.descripcion_corta %></p>
                        <a href="/products/detail/<%= cafe.id_producto %>">
                            <button>VER MÁS</button>
                        </a>
                    </article>
                <% }) %>
                
            </div>
       
    </main>
   <%- include('./partials/footer.ejs') %>
   <script src="/js/coffecode.js"></script>
   <script>
     // Simplemente asigna el valor de 'log' sin necesidad de convertirlo a JSON
     var log = "<%= log %>";
    console.log(log); // Verificar el valor de log en la consola

    if (log==1) {
        console.log("aceptado")
        Swal.fire({
            position: "top-end",
            icon: "success",
            title: "Su Acceso fue exitoso",
            showConfirmButton: false,
            timer: 1500
        });
    }
</script>

   <script src="/js/alertas.js"></script>
</body>
</html>