<%- include('../partials/head.ejs') %>

<link rel="stylesheet" href="/css/editProduct.css">
</head>
<body>
    <%- include('../partials/header.ejs')%>
    <main>
        <h1 style="background-color: chartreuse;"><% if(msg!=""){%>
            <%= msg %> 
       <% } %></h1>
    <div class="container">
       
        <h1>Editar Producto</h1>
        <form action="/admin/edit/<%= cafe.id_producto %>?_method=PUT" method="post" enctype="multipart/form-data" id="form-editar-producto">
            <div class="form-group">
                <label for="nombre_producto">Nombre del Producto</label>
                <input type="text" id="nombre_producto" name="nombre_producto" value="<%= cafe.nombre_producto %>" required>
            </div>
            <div class="form-group">
                <label for="descripcion_corta">Fabricado en</label>
                <input type="text" id="descripcion_corta" name="descripcion_corta" value="<%= cafe.descripcion_corta %>" required>
            </div>
            <div class="form-group">
                <label for="descripcion_larga">Descripción</label>              
                <textarea id="descripcion_larga" name="descripcion_larga" rows="6" required ><%= cafe.descripcion_larga %></textarea>
            </div>
            <div class="form-group">
                <label for="precio">Precio</label>
                <div style="display: flex;align-items: center; background-color: white; ">
                     $<input type="number" id="precio" name="precio" step="0.01" value="<%= cafe.precio %>" required style="border: none;" >
                </div>
            </div>
            <div class="form-group">
                <label for="idunidad_medida">Unidad de Medida:</label>
    <select id="idunidad_medida" name="idunidad_medida">
        <% unidadesMedida.forEach(function(unidad) { %>
            <option value="<%= unidad.id_unidad_medida %>" <%= cafe.id_unidad_medida === unidad.id_unidad_medida ? 'selected' : '' %>>
                <%= unidad.nombre_medida %>
            </option>
        <% }); %>
    </select>
            </div>
            <div class="form-group">
                <label for="cantidad">Cantidad disponible:</label>
    <input type="number" id="cantidad" name="cantidad" value="<%= cafe.cantidad %>">

            </div>
            <div class="form-group">
                <label for="imagen_principal">Cargar Imagen del Producto:</label>
                <input type="file" id="imagen_principal" name="imagen_principal" accept="image/*">
                <img width="30%" src="/img/products/<%= cafe.imagen_principal %>">
            </div>
            <div class="form-group">
                <label for="productImageS">Cargar Imagen Secundaria del Producto:</label>
                <input type="file" id="imagen_secundaria" name="imagen_secundaria" accept="image/*">
                <img width="40%" src="/img/imgsecundaria/<%= cafe.imagen_secundaria %>">
            </div>
            <div class="form-group">
                <label for="idproductor">Productor:</label>
    <select id="idproductor" name="idproductor">
        <% productores.forEach(function(productor) { %>
            <option value="<%= productor.id_productor %>" <%= cafe.id_productor === productor.id_productor ? 'selected' : '' %>>
                <%= productor.nombre_productor %>
            </option>
        <% }); %>
    </select>
            </div>
            <div class="form-group">
                <label for="id_pais">País:</label>
                <select id="id_pais" name="id_pais">
                    <% paises.forEach(function(pais) { %>
                        <option value="<%= pais.id_pais %>" <%= cafe.id_pais === pais.id_pais ? 'selected' : '' %>>
                            <%= pais.nombre_pais %>
                        </option>
                    <% }); %>
                </select> 
            </div>
            <div class="form-group">
                <label for="region">Región</label>
                <input type="text" id="region" name="region" value="<%= cafe.region %>" >
            </div>
            <div class="form-group">
                <label for="altitud">Altitud</label>
                <input type="text" id="altitud" name="altitud" value="<%= cafe.altitud %>" >
            </div>
            <div class="form-group">
                <label for="procesamiento_natural">Procesamiento Natural</label>
                <input type="text" id="procesamiento_natural" name="procesamiento_natural" value="<%= cafe.procesamiento_natural %>" >
            </div>
            <div class="form-group">
                <label for="procesamiento_lavado">Procesamiento Lavado</label>
                <input type="text" id="procesamiento_lavado" name="procesamiento_lavado" value="<%= cafe.procesamiento_lavado %>" >
            </div>
            <div class="form-group">
                <input type="hidden" name="id_producto" value="<%= cafe.id_producto %>">
                <button type="submit" class="btn" id="btnEditarProducto">Guardar Cambios</button>
            </div>
        </form>
    </div>
    </main>
    <%- include('../partials/footer.ejs') %>
    <script src="/js/coffecode.js"></script>
    <script src="https://unpkg.com/just-validate@latest/dist/just-validate.production.min.js"></script>
    <script src="/js/editarProductosValidator.js"></script>

</body>
</html>
