<%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>

    <%- include('../partials/header.ejs')%>
    
    <main class="login">
        <h1 style="background-color: chartreuse; text-align: center;"><% if(msg!=""){%>
            <%= msg %> 
         <% } %></h1>
        <div class="navbar-item1">
            <ol class= "navbar">
            <li class="navbar-item"> <a href='/'> Incio</a></li>
            <li class="navbar-item"> <a href="#"> Mi Cuenta</a></li>
            <li class="navbar-item"> <a href="#"> Login</a></li>
            </ol>
    </div>

     <h2>INICIAR SESIÓN</h2>
       
      <form  class="estilo-form" action="/user/login" id="login" method="post">
          <div class="bloque">
              <label class="estilo-label" for="Email">E-mail</label>
              <br>
              <input type="text" name="email" id="email" placeholder="email" value="<%= oldData ? oldData.email : '' %>"       >
              <% if (locals.errors && locals.errors.email) { %>
                  <div class="error" id="emailError"><%= locals.errors.email.msg %></div>
              <% } %>
          </div>
        
          <div class="bloque">
              <label class="estilo-label" for="clave">Contraseña</label>
              <br>
                <input type="password" name="clave" id="pass1" class="password" placeholder="Elige tu contraseña">
                <i id="pass-ojo-abierto" onclick="cambiarPassword()" class="fa-regular fa-eye" style="color: #000000;" title="Ver contraseña"></i>
                <i id="pass-ojo-cerrado" onclick="cambiarPassword()" class="fa-regular fa-eye-slash" style="color: #000000; display: none;" title="Ocultar Contraseña"></i>
                <i id="pass-icon-delete" onclick="borrar()" class="fa-regular fa-trash-can" title="Borrar Contraseña" style="color: #000000;"></i>
                <% if (locals.errors && locals.errors.clave) { %>
                    <div class="error" id="pass1"><%= locals.errors.clave.msg %></div>
                <% } %>
          </div>
        
          <a href="/user/clave">¿Olvidaste tu contraseña?</a>
          <br>
          <button type="submit" class="boton" id="btnlogin">INICIAR SESIÓN</button>
          <p>¿No tenes una cuenta aún?</p>
          <a href="/user/register">Registrate aquí</a>
      </form>
  
  
        <br>
        <div class="container">
            <a href="#">
              <div class="g-sign-in-button">
                <div class="content-wrapper">
                  <div class="logo-wrapper">
                    <img src="https://developers.google.com/identity/images/g-logo.png">
                  </div>
                  <span class="text-container">
                    <span>Ingresa con Google</span>
                  </span>
                </div>
              </div>
            </a>
          </div>
    </main>
    
    <%- include('../partials/footer.ejs') %>
    <script src="/js/cambiarPassword.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/just-validate@latest/dist/just-validate.production.min.js"></script>
    <script src="/js/loginValidate.js"></script>
    <script src="/js/coffecode.js"></script>

    </body>
</html>