<%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/register.css">
</head>
<body>
    <%- include('../partials/header.ejs')%>
       
    <main>
        <h1 style="background-color: chartreuse; text-align: center;"><% if(msg!=""){%>
            <%= msg %> 
         <% } %></h1>
        <h2> CREA TU CUENTA</h2>
        
        <form action="/user/register" method="post" class="estilo-form" id="registro" autocomplete="off" novalidate="novalidate">
            <div class="bloque">
                <label class="estilo-label" for="apellido">Apellido<br></label>
                <input type="text" name="apellido" placeholder="Apellido" minlength="3" maxlength="40" id="apellido" value="<%= locals.oldData ? locals.oldData.apellido : '' %>" required>
                <div class="error-message" id="apellidoError">
                    <% if (locals.errors && locals.errors.apellido) { %>
                        <%= locals.errors.apellido.msg %>
                    <% } %>
                </div>
            </div>
            <div class="bloque">
                <label class="estilo-label" for="nombre">Nombre<br></label>
                <input type="text" name="nombre" placeholder="Nombre" minlength="3" maxlength="40" id="nombre" value="<%= locals.oldData ? locals.oldData.nombre : '' %>" required>
                <div class="error-message" id="nombreError">
                    <% if (locals.errors && locals.errors.nombre) { %>
                        <%= locals.errors.nombre.msg %>
                    <% } %>
                </div>
            </div>
            <div class="bloque">
                <label class="estilo-label" for="telefono">Teléfono (opcional)<br></label>
                <input type="tel" name="telefono" id="telefono" placeholder="Teléfono" minlength="6" maxlength="20" value="<%= locals.oldData ? locals.oldData.telefono : '' %>" required>
                <div class="error-message" id="telefonoError">
                    <% if (locals.errors && locals.errors.telefono) { %>
                        <%= locals.errors.telefono.msg %>
                    <% } %>
                </div>
            </div>
            <div class="bloque">
                <label class="estilo-label" for="email">E-mail<br></label>
                <input type="email" name="email" placeholder="E-mail" id="email" value="<%= locals.oldData ? locals.oldData.email : '' %>" required>
                <div class="error-message" id="emailError">
                    <% if (locals.errors && locals.errors.email) { %>
                        <%= locals.errors.email.msg %>
                    <% } %>
                </div>
            </div>
            <div class="bloque">
                <label class="estilo-label" for="contraseña">Contraseña<br></label>
                <input type="password" name="clave" id="pass1" placeholder="Elige tu contraseña" required>
                <div class="error-message" id="pass1Error">
                    <% if (locals.errors && locals.errors.clave) { %>
                        <%= locals.errors.clave.msg %>
                    <% } %>
                </div>
            </div>
            <div class="bloque">
                <label class="estilo-label" for="contraseña">Repita la Contraseña<br></label>
                <input type="password" name="clave2" id="pass2" placeholder="Elige tu contraseña" required>
                <div class="error-message" id="pass2Error"></div>
            </div>
            <button class="boton" type="submit" name="btnRegistrar" id="btnRegistrar">CREAR CUENTA</button>
        </form>
        
        <p>¿Ya tienes una cuenta?<a href="/user/login">Inicia sesión</a></p>
        

    </main>
    <%- include('../partials/footer.ejs') %>
    <script src="https://unpkg.com/just-validate@latest/dist/just-validate.production.min.js"></script>
    <script src="/js/registerValidate.js"></script>
    <script src="/js/coffecode.js"></script>
    

</body>
</html>