<%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/register.css">
</head>
<body>
    <%- include('../partials/header.ejs')%>
       
    <main>
        <h1 style="background-color: chartreuse; text-align: center;"><% if(msg!=""){%>
            <%= msg %> 
         <% } %></h1>
        <h2> Crea tu Cuenta<i class="fa-regular fa-id-card" style="color: #823a6f; padding-left: 5px;"></i></h2>
        
        <form action="/user/register" method="post" class="estilo-form" id="registro" autocomplete="off" novalidate="novalidate">
            <div class="bloque">
                <label class="estilo-label" for="apellido">Apellido<br></label>
                <input type="text" name="apellido" placeholder="Ingresa tu apellido" minlength="3" maxlength="40" id="apellido" value="<%= locals.oldData ? locals.oldData.apellido : '' %>"      >
                <div class="error" id="apellidoError">
                    <% if (locals.errors && locals.errors.apellido) { %>
                        <%= locals.errors.apellido.msg %>
                    <% } %>
                </div>
            </div>
            <div class="bloque">
                <label class="estilo-label" for="nombre">Nombre<br></label>
                <input type="text" name="nombre" placeholder="Ingresa tu nombre" minlength="3" maxlength="40" id="nombre" value="<%= locals.oldData ? locals.oldData.nombre : '' %>"      >
                <div class="error" id="nombreError">
                    <% if (locals.errors && locals.errors.nombre) { %>
                        <%= locals.errors.nombre.msg %>
                    <% } %>
                </div>
            </div>
            <div class="bloque">
                <label class="estilo-label" for="telefono">Teléfono (opcional)<br></label>
                <input type="tel" name="telefono" id="telefono" placeholder="Ingresa tu télefono" minlength="6" maxlength="20" value="<%= locals.oldData ? locals.oldData.telefono : '' %>" >
                <div class="error" id="telefonoError">
                    <% if (locals.errors && locals.errors.telefono) { %>
                        <%= locals.errors.telefono.msg %>
                    <% } %>
                </div>
            </div>
            <div class="bloque">
                <label class="estilo-label" for="email">E-mail<br></label>
                <input type="email" name="email" placeholder="Ingresa tu email" id="email" value="<%= locals.oldData ? locals.oldData.email : '' %>"      >
                <div class="error" id="emailError">
                    <% if (locals.errors && locals.errors.email) { %>
                        <%= locals.errors.email.msg %>
                    <% } %>
                </div>
            </div>
            <div class="bloque">
                <label class="estilo-label" for="contraseña">Contraseña<br></label>
                <input type="password" name="clave" id="pass1" class="password" placeholder="Elige tu contraseña">
                <i id="pass-ojo-abierto" onclick="cambiarPassword()" class="fa-regular fa-eye" title="Ver contraseña"></i>
                <i id="pass-ojo-cerrado" onclick="cambiarPassword()" class="fa-regular fa-eye-slash" style=" display: none;" title="Ocultar Contraseña"></i>
                <i id="pass-icon-delete" onclick="borrar()" class="fa-regular fa-trash-can" title="Borrar contraseña" ></i>
                
                <div class="error" id="pass1Error">
                    <% if (locals.errors && locals.errors.clave) { %>
                        <%= locals.errors.clave.msg %>
                    <% } %>
                </div>
            </div>
            <div class="bloque">
                <label class="estilo-label" for="contraseña">Repita la Contraseña<br></label>
                <input type="password" name="clave2" class="password" id="pass2" placeholder="Repite tu contraseña">
                <i id="pass-ojo-abierto1" onclick="cambiarPassword2()" class="fa-regular fa-eye"  title="Ver contraseña"></i>
                <i id="pass-ojo-cerrado1" onclick="cambiarPassword2()" class="fa-regular fa-eye-slash" style=" display: none;" title="Ocultar Contraseña"></i>
                <i id="pass-icon-delete" onclick="borrar2()" class="fa-regular fa-trash-can" title="Borra contraseña" ></i>
                <div class="error" id="pass2Error"></div>
            </div>
            <button class="boton" type="submit" name="btnRegistrar" id="btnRegistrar">CREAR CUENTA</button>
        </form>
        
        <p>¿Ya tienes una cuenta?<a href="/user/login">Inicia sesión</a></p>
        

    </main>
    <%- include('../partials/footer.ejs') %>
    <script src="/js/cambiarPassword.js"></script>
    <script src="https://unpkg.com/just-validate@latest/dist/just-validate.production.min.js"></script>
    <script src="/js/registerValidate.js"></script>
    <script src="/js/coffecode.js"></script>
    

</body>
</html>